.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightsteelblue;
}

.qrCard {
  max-width: 25%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.qr {
  background-color: blue;
  border-radius: 20px;
  max-width: 80%;
  padding: 40px;
}

.qrImg {
  max-width: 80%;
  height: auto;
}

.cardInfo {
  max-width: 80%;
}

.cardInfo p {
  color: gray;
  font-weight: 400;
}
